flows_puppet.json
[{"id":"74af48e7.af32e8","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"9c3fcc9b.72cfa","type":"tab","label":"Distance Sensor","disabled":false,"info":""},{"id":"b7731fc2.3e176","type":"tab","label":"Relays","disabled":false,"info":""},{"id":"199fe273.f647be","type":"tab","label":"Play Sound","disabled":false,"info":""},{"id":"3e3104f4.0b5c9c","type":"inject","z":"9c3fcc9b.72cfa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300.5,"y":4551,"wires":[[]]},{"id":"4318453d.91669c","type":"function","z":"9c3fcc9b.72cfa","name":"test if triggered","func":"var readDistance = msg.payload;\nvar triggerDistance = global.get('triggerDistance');\nvar playing = global.get('playing')\n\nif (readDistance <= triggerDistance && playing != 1)\n{\n    msg.payload = 1;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["3e17b060.a59ad","1ddd8c6.b2aa674"]]},{"id":"2e58c63e.5e20ea","type":"rpi-srf","z":"9c3fcc9b.72cfa","name":"read distance from sensor every 1 second","topic":"SRF","pulse":"1","pins":"7,15","x":180,"y":60,"wires":[["4318453d.91669c","191cec25.49bfe4"]]},{"id":"191cec25.49bfe4","type":"debug","z":"9c3fcc9b.72cfa","name":"show distance in debug window","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":180,"wires":[]},{"id":"711a0f88.85c96","type":"inject","z":"b7731fc2.3e176","name":"Test Relay 1 ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["e82b23ba.34265"]]},{"id":"e82b23ba.34265","type":"rpi-gpio out","z":"b7731fc2.3e176","name":"Relay 1","pin":"37","set":true,"level":"0","freq":"","out":"out","x":340,"y":100,"wires":[]},{"id":"87967a3d.c69ec8","type":"inject","z":"b7731fc2.3e176","name":"Test Relay 1 OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["e82b23ba.34265"]]},{"id":"fd78cd25.8dcde","type":"rpi-gpio out","z":"b7731fc2.3e176","name":"Relay 2","pin":"38","set":true,"level":"0","freq":"","out":"out","x":340,"y":240,"wires":[]},{"id":"64defe3c.fc09d","type":"rpi-gpio out","z":"b7731fc2.3e176","name":"Relay 3","pin":"40","set":true,"level":"0","freq":"","out":"out","x":340,"y":380,"wires":[]},{"id":"777403de.2d840c","type":"inject","z":"b7731fc2.3e176","name":"Test Relay 2 ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["fd78cd25.8dcde"]]},{"id":"27dd7669.c7270a","type":"inject","z":"b7731fc2.3e176","name":"Test Relay 2 OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["fd78cd25.8dcde"]]},{"id":"e781b76e.6a5348","type":"inject","z":"b7731fc2.3e176","name":"Test Relay 3 ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["64defe3c.fc09d"]]},{"id":"7c1ffb79.0a94d4","type":"inject","z":"b7731fc2.3e176","name":"Test Relay 3 OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["64defe3c.fc09d"]]},{"id":"62947ff2.b267e","type":"link in","z":"b7731fc2.3e176","name":"Relay 1","links":[],"x":195,"y":140,"wires":[["e82b23ba.34265"]]},{"id":"daa21588.789a98","type":"link in","z":"b7731fc2.3e176","name":"Relay 2","links":["b16acb97.d88108"],"x":195,"y":280,"wires":[["fd78cd25.8dcde"]]},{"id":"764171.8077fe9","type":"link in","z":"b7731fc2.3e176","name":"Relay 3","links":["57f3f5f3.6f08bc"],"x":195,"y":420,"wires":[["64defe3c.fc09d"]]},{"id":"b16acb97.d88108","type":"link out","z":"9c3fcc9b.72cfa","name":"distance sensor triggered","links":["9574f60e.1bebd8","daa21588.789a98"],"x":1055,"y":60,"wires":[]},{"id":"905fadfc.20d64","type":"inject","z":"74af48e7.af32e8","name":"run once on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["700b192a.8711b8","ce1a83c2.5d5c9","74e14cd1.939404"]]},{"id":"700b192a.8711b8","type":"function","z":"74af48e7.af32e8","name":"set trigger distance in cm","func":"// runs once at startup\n// sets the distance in cm that will trigger some action\n\nglobal.set('triggerDistance', 50);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[[]]},{"id":"694a6637.298b48","type":"PlaySound","z":"199fe273.f647be","name":"","playerOptions":"{}","audioURI":"","options":"{}","x":650,"y":200,"wires":[["30d1e954.cd2416"]]},{"id":"6f695edc.1072d","type":"inject","z":"199fe273.f647be","name":"test","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["e06b5206.56b55"]]},{"id":"8c19ed14.e993f","type":"inject","z":"199fe273.f647be","name":"test","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["90992ce0.3f67a"]]},{"id":"e06b5206.56b55","type":"function","z":"199fe273.f647be","name":"Bird","func":"if (msg.payload == 1)\n{\n    msg.audioURI = \"/home/pi/puppet/sounds/Bird Chirp.WAV\";\n    return msg;\n}","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["694a6637.298b48"]]},{"id":"f6c72135.74892","type":"function","z":"199fe273.f647be","name":"Elephant","func":"if (msg.payload == 1)\n{\n    msg.audioURI = \"/home/pi/puppet/sounds/elephant.WAV\";\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["694a6637.298b48"]]},{"id":"9b6723f.2a5e4e","type":"inject","z":"199fe273.f647be","name":"test","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["f6c72135.74892"]]},{"id":"90992ce0.3f67a","type":"function","z":"199fe273.f647be","name":"Cow","func":"if (msg.payload == 1)\n{\n    msg.audioURI = \"/home/pi/puppet/sounds/cow.WAV\";\n    return msg;\n}","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["694a6637.298b48"]]},{"id":"94b68ee2.b7757","type":"link in","z":"199fe273.f647be","name":"Play Sound 1","links":["2d83059a.97d76a"],"x":155,"y":100,"wires":[["e06b5206.56b55"]]},{"id":"9574f60e.1bebd8","type":"link in","z":"199fe273.f647be","name":"Play Sound 2","links":["b16acb97.d88108"],"x":155,"y":200,"wires":[["f6c72135.74892"]]},{"id":"3e591166.628f9e","type":"link in","z":"199fe273.f647be","name":"Play Sound 3","links":[],"x":155,"y":300,"wires":[["90992ce0.3f67a"]]},{"id":"3e17b060.a59ad","type":"delay","z":"9c3fcc9b.72cfa","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":120,"wires":[["a7ce59b9.9f4c78"]]},{"id":"a7ce59b9.9f4c78","type":"function","z":"9c3fcc9b.72cfa","name":"turn OFF","func":"global.set('playing', 0)\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["a3d8b301.71741"]]},{"id":"a3d8b301.71741","type":"rbe","z":"9c3fcc9b.72cfa","name":"filter","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":950,"y":60,"wires":[["b16acb97.d88108"]]},{"id":"1ddd8c6.b2aa674","type":"function","z":"9c3fcc9b.72cfa","name":"turn ON","func":"global.set('playing', 1)\nmsg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":60,"wires":[["a3d8b301.71741"]]},{"id":"2d83059a.97d76a","type":"link out","z":"74af48e7.af32e8","name":"run on Startup","links":["66e7e9b1.eec588","94b68ee2.b7757"],"x":875,"y":120,"wires":[]},{"id":"30d1e954.cd2416","type":"debug","z":"199fe273.f647be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":180,"wires":[]},{"id":"ce1a83c2.5d5c9","type":"function","z":"74af48e7.af32e8","name":"play sound on startup","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["2d83059a.97d76a"]]},{"id":"1cd8373.ab809c9","type":"inject","z":"199fe273.f647be","name":"test","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["bf80e375.c95bc"]]},{"id":"bf80e375.c95bc","type":"function","z":"199fe273.f647be","name":"play on start up","func":"if (msg.payload == 1)\n{\n    msg.audioURI = \"/home/pi/puppet/sounds/outer_limits.wav\"\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["694a6637.298b48"]]},{"id":"66e7e9b1.eec588","type":"link in","z":"199fe273.f647be","name":"Play Sound 4","links":["2d83059a.97d76a"],"x":155,"y":400,"wires":[["bf80e375.c95bc"]]},{"id":"74e14cd1.939404","type":"function","z":"74af48e7.af32e8","name":"activate relay on startup","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["ab8a0161.00d29","f6067948.bffdd8"]]},{"id":"57f3f5f3.6f08bc","type":"link out","z":"74af48e7.af32e8","name":"activate on Startup","links":["764171.8077fe9"],"x":875,"y":180,"wires":[]},{"id":"f6067948.bffdd8","type":"delay","z":"74af48e7.af32e8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":240,"wires":[["68cb965d.42ad38"]]},{"id":"68cb965d.42ad38","type":"function","z":"74af48e7.af32e8","name":"turn OFF","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[["57f3f5f3.6f08bc"]]},{"id":"ab8a0161.00d29","type":"function","z":"74af48e7.af32e8","name":"turn ON","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["57f3f5f3.6f08bc"]]}]